extends ../form.pug

block formfields
    div(class="form-group")
        input(class="form-control" id="id_email" maxlength="150" name="email" placeholder="Email" type="email")
                
    div(class="form-group")
        input(class="form-control" id="id_password" maxlength="150" name="password" placeholder="Password" type="password") 
                
block submitbutton
    input(type="submit" class="btn btn-primary" value="Login")

